<header class="site-header site-header-image section-padding d-flex align-items-center">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-12 header-info">
                <h1>
                    <span class="d-block text-primary">Chính Sách</span>
                    <span class="d-block text-dark">Giao Hàng</span>
                </h1>
            </div>
        </div>
    </div>
</header>


<section class="faq section-padding">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-12">               

                <div class="accordion" id="accordionGeneral">
                    <strong>Phí vận chuyển</strong>
                    <img src="~/images/van-chuyen1.png" class="img-fluid" alt="">

                    <div style="margin-top:10px;">
                        <strong>Một số trường hợp đặc biệt trong chính sách vận chuyển cụ thể:</strong>
                        <p>- Sản phẩm và phụ kiện vàng 24K: Khách hàng chịu 100% phí vận chuyển trong mọi trường hợp</p>
                        <p>- Đối với sản phẩm giảm giá, giá trị đơn hàng được tính sau khi giảm giá</p>
                        <p>- Phí vận chuyển phụ thuộc vào khoảng cách địa lý. Nhân viên sẽ thông báo cho khách hàng trước khi vận chuyển trong trường hợp khách hàng là người trả phí vận chuyển</p>
                        <p>- Thời gian không bao gồm đơn hàng mới hoặc chỉnh sửa sản phẩm</p>
                        <p>- Thời gian vận chuyển có thể sớm hơn hoặc muộn hơn vài ngày tùy theo điều kiện khách quan</p>
                    </div>

                    <div>
                        <strong>Bảo hiểm hàng hóa: </strong>
                        <p>Tất cả các sản phẩm Boli gửi đến khách hàng thông qua đối tác vận chuyển đều được Boli mua bảo hiểm và cam kết bồi thường 100% giá trị hàng hóa nếu đơn hàng bị mất.</p>
                        <p>*** Lưu ý:</p>
                        <p>- Khi đặt hàng giao hàng đảm bảo, Boli có chế độ kiểm tra chung với bên giao hàng. Khách hàng được yêu cầu quay video trong quá trình nhận và mở hàng để kiểm tra, không chấp nhận nếu gói hàng có bất kỳ dấu hiệu bất thường nào</p>
                        <p>- Khiếu nại/thiếu sản phẩm, nếu không có video, sẽ không thể xác định được nguyên nhân lỗi/thiếu hàng do Boli hoặc đơn vị vận chuyển, Boli sẽ không giải quyết.</p>
                        <p>Xác định trách nhiệm của thương nhân và đơn vị cung cấp dịch vụ hậu cần liên quan đến việc cung cấp chứng từ hàng hóa trong quá trình giao hàng.</p>
                    </div>

                    <div>
                        <strong>Nghĩa vụ của bên vận chuyển: </strong>
                        <p>- Đảm bảo vận chuyển tài sản đến địa điểm đã chỉ định một cách đầy đủ và an toàn, trong thời hạn quy định.</p>
                        <p>- Giao tài sản cho người có quyền nhận.</p>
                        <p>- Chịu chi phí liên quan đến việc vận chuyển tài sản, trừ trường hợp có thỏa thuận khác.</p>
                        <p>- Mua bảo hiểm trách nhiệm dân sự theo quy định của pháp luật.</p>
                        <p>- Bồi thường thiệt hại cho bên thuê trong trường hợp bên vận chuyển làm mất hoặc hư hỏng tài sản, trừ trường hợp có thỏa thuận khác hoặc pháp luật có quy định khác.</p>
                    </div>

                    <div>
                        <strong>Quyền của bên vận chuyển: </strong>
                        <p>- Kiểm tra tính xác thực của tài sản, vận đơn hoặc các chứng từ vận chuyển tương đương khác.</p>
                        <p>- Từ chối vận chuyển tài sản không đúng với loại tài sản đã thỏa thuận trong hợp đồng.</p>
                        <p>- Yêu cầu bên thuê thanh toán đầy đủ cước phí vận chuyển đúng hạn.</p>
                        <p>- Từ chối vận chuyển tài sản bị cấm, tài sản có tính chất nguy hiểm hoặc độc hại, nếu bên vận chuyển</p>
                    </div>

                    <div>
                        <strong>Nghĩa vụ của bên thuê: </strong>
                        <p>- Trả đủ cước phí vận chuyển cho bên vận chuyển đúng thời hạn và theo cách đã thỏa thuận.</p>
                        <p>- Cung cấp thông tin cần thiết liên quan đến tài sản được vận chuyển để đảm bảo an toàn cho tài sản được vận chuyển.</p>
                        <p>- Bảo quản tài sản trong quá trình vận chuyển, nếu có thỏa thuận. Trường hợp bên thuê tự bảo quản tài sản mà tài sản bị mất mát, hư hỏng thì không được bồi thường.</p>
                    </div>

                    <div>
                        <strong>Quyền của bên thuê: </strong>
                        <p>- Yêu cầu bên vận chuyển vận chuyển tài sản đến địa điểm và thời gian đã thỏa thuận.</p>
                        <p>- Trực tiếp hoặc chỉ định bên thứ ba nhận tài sản thuê vận chuyển.</p>
                        <p>Trách nhiệm bồi thường thiệt hại</p>
                        <p>- Bên vận chuyển phải bồi thường thiệt hại cho bên thuê nếu tài sản bị mất mát, hư hỏng.</p>
                        <p>- Bên thuê phải bồi thường thiệt hại cho bên vận chuyển và bên thứ ba do tài sản nguy hiểm, độc hại gây ra mà không có biện pháp đóng gói, bảo đảm an toàn trong quá trình vận chuyển.</p>
                        <p>- Trường hợp bất khả kháng dẫn đến mất mát, hư hỏng, hủy hoại tài sản trong quá trình vận chuyển, bên vận chuyển không chịu trách nhiệm bồi thường thiệt hại, trừ trường hợp có thỏa thuận khác hoặc pháp luật có quy định khác.</p>
                    </div>
                    <strong>Nếu có bất kỳ thắc mắc nào, vui lòng liên hệ với chúng tôi qua<a href="https://www.facebook.com/BoliJewelleryy" class="social-icon-link" id="boli">Fanpage</a></strong>
                </div>
            </div>

        </div>
    </div>
</section>
<style>
    p{
        color:black;
        font-size:16px;
    }

    .img-fluid {
        max-width: 1145px;
        height: 200px;
    }

    #boli {
        font-weight: bolder;
        color: #ff4400;
    }
</style>

    
