<header class="site-header site-header-image section-padding d-flex align-items-center">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-12 header-info">
                <h1>
                    <span class="d-block text-primary">Policy</span>
                    <span class="d-block text-dark">Delivery</span>
                </h1>
            </div>
        </div>
    </div>
</header>


<section class="faq section-padding">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-12">               

                <div class="accordion" id="accordionGeneral">
                    <strong>Shipping Fees</strong>
                    <img src="~/images/van-chuyen1.png" class="img-fluid" alt="">

                    <div style="margin-top:10px;">
                        <strong>Some special cases in specific shipping policies:</strong>
                        <p>- 24K gold products and accessories: Customers bear 100% shipping fees in all cases</p>
                        <p>- For discounted products, the order value is calculated after the discount</p>
                        <p>- Shipping rates depend on geographical distance. Staff will notify the customer before shipping in case the customer is the one paying the shipping fee</p>
                        <p>- Time does not include new orders or product modifications</p>
                        <p>- Shipping time may be a few days earlier or later depending on objective conditions</p>
                    </div>

                    <div>
                        <strong>Goods Insurance: </strong>
                        <p>All Boli products sent to customers through shipping partners are insured by Boli and guaranteed to compensate 100% of the value of the goods if the order is lost.</p>
                        <p>*** Note:</p>
                        <p>- When placing an order for guaranteed delivery, Boli has a joint inspection mode with the delivery party. Customers are requested to record a video during the process of receiving and opening the goods to check, do not accept if the package shows any unusual signs</p>
                        <p>- Complaints/missing products, if there is no video, it will be impossible to determine the cause of the error/missing goods due to Boli or the shipping unit, Boli will not resolve.</p>
                        <p>Determine the responsibility of traders and logistics service providers regarding the provision of goods documents during the delivery process.</p>
                    </div>

                    <div>
                        <strong>Obligations of the carrier: </strong>
                        <p>- Ensure the complete and safe transportation of the property to the designated location, within the prescribed time limit.</p>
                        <p>- Deliver the property to the person entitled to receive it.</p>
                        <p>- Bear the costs related to the transportation of the property, unless otherwise agreed.</p>
                        <p>- Purchase civil liability insurance in accordance with the provisions of law.</p>
                        <p>- Compensate the lessee for damages in case the carrier loses or damages the property, unless otherwise agreed or otherwise provided by law.</p>
                    </div>

                    <div>
                        <strong>Rights of the carrier: </strong>
                        <p>- Check the authenticity of the property, the bill of lading or other equivalent shipping documents.</p>
                        <p>- Refuse to transport property that is not the same as the type of property agreed upon in the contract.</p>
                        <p>- Require the lessee to pay the full shipping fee on time.</p>
                        <p>- Refuse to transport prohibited property, property of a dangerous or toxic nature, if the carrier</p>
                        
                    </div>

                    <div>
                        <strong>Obligations of the lessee: </strong>
                        <p>- Pay the full freight to the carrier on time and in the agreed manner.</p>
                        <p>- Provide necessary information related to the transported property to ensure the safety of the transported property.</p>
                        <p>- Take care of the property during transportation, if agreed. In case the lessee takes care of the property and the property is lost or damaged, no compensation shall be paid.</p>
                        
                    </div>
                    <div>
                        <strong>Rights of the charterer: </strong>
                        <p>- Request the carrier to transport the property to the agreed location and time.</p>
                        <p>- Directly or designate a third party to receive the property hired for transport.</p>
                        <p>Liability for compensation for damages</p>
                        <p>- The carrier must compensate the charterer for damages if the property is lost or damaged.</p>
                        <p>- The charterer must compensate the carrier and third parties for damages caused by the property being dangerous or toxic without taking measures to package and ensure safety during the transportation process.</p>
                        <p>- In case of force majeure leading to the loss, damage or destruction of the property during the transportation process, the carrier shall not be responsible for compensation for damages, unless otherwise agreed or otherwise provided by law.</p>
                    </div>
                    <strong>For any questions, please contact us via<a href="https://www.facebook.com/BoliJewelleryy" class="social-icon-link" id="boli">Fanpage</a> </strong>
                </div>
            </div>

        </div>
    </div>
</section>
<style>
    p{
        color:black;
        font-size:16px;
    }

    .img-fluid {
        max-width: 1145px;
        height: 200px;
    }

    #boli {
        font-weight: bolder;
        color: #ff4400;
    }
</style>

    
