
    <main>


        <div class="site-header section-padding-img site-header-image">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6 col-12 header-info">
                        <h1>
                        <span class="d-block"><a href="#" id="boli">Boli</a> Jewelry</span>
                    </h1>
                    <div style="text-align: justify;max-width: 600px; margin: 0 auto; padding: 0 20px;">
                        Ra mắt lần đầu tiên vào năm 2024, Boli hy vọng sẽ mang đến những sản phẩm Vòng tay & Dây chuyền thủy tinh được đầu tư về thiết kế, minh bạch về thông tin giao dịch sản phẩm và cung cấp cho khách hàng dịch vụ hậu mãi trọn gói. Cùng với việc định vị lại thương hiệu, Boli thay đổi nhận diện và chiến lược kinh doanh. Vẫn giữ nguyên những giá trị cốt lõi của sản phẩm, Boli hy vọng rằng mỗi chiếc nhẫn cưới hay món trang sức sẽ giúp khách hàng ghi lại những khoảnh khắc và câu chuyện hạnh phúc trong suốt cuộc đời.
                        </div>
                       
                    </div>
                </div>
            </div>

            <img src="~/images/header/logo.jpg" class="header-image img-fluid" alt="">
        </div>

        <section class="team section-padding">
            <div class="container">
                <div class="row">

                    <div class="col-12">
                        <h2 class="mb-5">Thành Viên</h2>
                    </div>

                    <div class="col-lg-4 mb-4 col-12">
                        <div class="team-thumb d-flex align-items-center">
                        <img src="~/images/people/Loan.png" class="img-fluid custom-circle-image team-image me-4" alt="">

                            <div class="team-info">
                                <h5 class="mb-0">Loan</h5>
                                <strong class="text-muted">CEO</strong>

                                <!-- Button trigger modal -->
                                <button type="button" class="btn custom-modal-btn" data-bs-toggle="modal" data-bs-target="#loan">
                                    <i class="bi-plus-circle-fill"></i>
                                </button>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 mb-4 col-12">
                        <div class="team-thumb d-flex align-items-center">
                        <img src="~/images/people/ha.png" class="img-fluid custom-circle-image team-image me-4" alt="">

                            <div class="team-info">
                                <h5 class="mb-0">Ha</h5>
                                <strong class="text-muted">CFO</strong>

                                <!-- Button trigger modal -->
                                <button type="button" class="btn custom-modal-btn" data-bs-toggle="modal" data-bs-target="#ha">
                                    <i class="bi-plus-circle-fill"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 mb-lg-0 mb-4 col-12">
                        <div class="team-thumb d-flex align-items-center">
                        <img src="~/images/people/Nguyen.png" class="img-fluid custom-circle-image team-image me-4" alt="">

                            <div class="team-info">
                                <h5 class="mb-0">Nguyen</h5>
                                <strong class="text-muted">CMO</strong>

                                <!-- Button trigger modal -->
                                <button type="button" class="btn custom-modal-btn" data-bs-toggle="modal" data-bs-target="#nguyen">
                                    <i class="bi-plus-circle-fill"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            <div class="row">
                <div class="col-lg-4 mb-4 col-12">
                    <div class="team-thumb d-flex align-items-center">
                        <img src="~/images/people/Thanh.png" class="img-fluid custom-circle-image team-image me-4" alt="">

                        <div class="team-info">
                            <h5 class="mb-0">Thanh</h5>
                            <strong class="text-muted">Vice CMO</strong>

                            <!-- Button trigger modal -->
                            <button type="button" class="btn custom-modal-btn" data-bs-toggle="modal" data-bs-target="#thanh">
                                <i class="bi-plus-circle-fill"></i>
                            </button>

                        </div>
                    </div>
                </div>

                <div class="col-lg-4 mb-4 col-12">
                    <div class="team-thumb d-flex align-items-center">
                        <img src="~/images/people/Chi.png" class="img-fluid custom-circle-image team-image me-4" alt="">

                        <div class="team-info">
                            <h5 class="mb-0">Chi</h5>
                            <strong class="text-muted">CTO</strong>

                            <!-- Button trigger modal -->
                            <button type="button" class="btn custom-modal-btn" data-bs-toggle="modal" data-bs-target="#chi">
                                <i class="bi-plus-circle-fill"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 mb-lg-0 mb-4 col-12">
                    <div class="team-thumb d-flex align-items-center">
                        <img src="~/images/people/Tu.png" class="img-fluid custom-circle-image team-image me-4" alt="">

                        <div class="team-info">
                            <h5 class="mb-0">Tu</h5>
                            <strong class="text-muted">Vice CTO</strong>

                            <!-- Button trigger modal -->
                            <button type="button" class="btn custom-modal-btn" data-bs-toggle="modal" data-bs-target="#tu">
                                <i class="bi-plus-circle-fill"></i>
                            </button>
                        </div>
                    </div>
                </div>

            </div>
            </div>
        </section>

        <section class="testimonial section-padding">
            <div class="container">
                <div class="row">

                    <div class="col-lg-9 mx-auto col-11">
                        <h2 class="text-center">Customer love, <br> <span>Boli</span> Fashion</h2>

                        <div class="slick-testimonial">
                            <div class="slick-testimonial-caption">
                                <p >
                                Với sứ mệnh trở thành người bạn đồng hành luôn thấu hiểu và trân trọng từng khoảnh khắc trong cuộc sống của khách hàng, khẩu hiệu của Boli Jewelry là "Tales of Happines". Niềm vui, tình yêu, kỷ niệm,... được chuyển hóa thành trang sức vàng - một loại vật liệu quý có giá trị không bao giờ phai mờ để trang sức không chỉ bền đẹp mà còn luôn gợi nhớ đến mỗi người về những cột mốc đáng nhớ mà họ đã trải qua.
                                </p>
                            <p class="lead">
                                Chiếc vòng tay mà cô gái tự tặng cho mình như phần thưởng cho sự thăng tiến sau một thời gian làm việc chăm chỉ.
                            </p>

                            <p class="lead">
                                Chiếc vòng cổ mà chàng trai đích thân chọn mua tặng bạn gái vào ngày kỷ niệm của hai người.
                            </p>
                            <p class="lead">
                                Một cô con gái đã mua cho mẹ mình một đôi bông tai trong ngày lĩnh lương đầu tiên. Một cặp nhẫn cưới mà hai người yêu nhau đã cùng nhau lựa chọn cho một chương mới của cuộc hôn nhân.
                            </p>
                            </div>                            
                        </div>
                    </div>

                </div>
            </div>
        </section>
    <div class="col-lg-9 mx-auto col-11">
        <h2 class="mt-5">Các <span>Câu hỏi</span> thường gặp</h2>

        <div class="accordion" id="accordionProduct">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionProductOne" aria-expanded="true" aria-controls="accordionProductOne">
                        Thiết kế thời trang là gì?
                        </button>
                    </h2>

                    <div id="accordionProductOne" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionProduct">

                        <div class="accordion-body">
                            <p class="large-paragraph">

                            Thiết kế thời trang là nghệ thuật và quá trình tạo ra quần áo, phụ kiện và giày dép vừa có chức năng vừa hấp dẫn về mặt thẩm mỹ. Nó bao gồm việc phác thảo các thiết kế, lựa chọn vải và giám sát quá trình sản xuất hàng may mặc. Các nhà thiết kế thời trang thường lấy cảm hứng từ các ảnh hưởng về văn hóa, xã hội và môi trường để tạo ra các bộ sưu tập phản ánh xu hướng hiện tại, sự sáng tạo cá nhân hoặc các chủ đề cụ thể.
                            </p>

                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFive">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionProductTwo" aria-expanded="false" aria-controls="accordionProductTwo">
                        Tôi sử dụng sản phẩm như thế nào?
                        </button>
                    </h2>

                    <div id="accordionProductTwo" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionProduct">

                        <div class="accordion-body">
                            <p class="large-paragraph">
                            Để sử dụng vòng tay hoặc vòng cổ thủy tinh BOLI, chỉ cần cài móc khóa quanh cổ tay hoặc cổ và điều chỉnh sao cho thoải mái. Hãy nhẹ nhàng khi cầm thủy tinh để tránh hư hỏng. Điều quan trọng là phải cất giữ đồ trang sức riêng biệt để tránh trầy xước và vướng vào các vật dụng khác. Lau sạch bằng vải mềm để giữ được độ sáng bóng và vẻ đẹp. Với sự chăm sóc thích hợp, đồ trang sức thủy tinh BOLI của bạn sẽ vẫn là một phụ kiện thời trang và bền bỉ để đeo hàng ngày hoặc trong những dịp đặc biệt.
                               </p>
                        </div>
                    </div>
                </div>

             </div>
        </div>

    </main>

    <!-- Loan MODAL  -->
        <div class="modal fade" id="loan" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content border-0">
                    <div class="modal-header flex-column">
                        <h3 class="modal-title" id="exampleModalLabel">Nguyen Thi Loan</h3>

                    <h6 class="text-muted">
                        CEO - Responsible for overall activity of the business.
                    </h6>

                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <h5 class="mb-4">Over three years in business had the chance to work on variety of projects, with companies</h5>

                        <div class="row mb-4">
                            <div class="col-lg-6 col-12">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>

                            <div class="col-lg-6 col-12">
                                <p>Incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse commodo viverra.</p>
                            </div>
                        </div>

                        <ul class="social-icon">
                            <li class="me-3"><strong>Where to find?</strong></li>

                            <li><a href="#" class="social-icon-link bi-youtube"></a></li>

                            <li><a href="#" class="social-icon-link bi-whatsapp"></a></li>

                            <li><a href="#" class="social-icon-link bi-instagram"></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

    <!-- Ha MODAL -->
        <div class="modal fade" id="ha" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content border-0">
                    <div class="modal-header flex-column">
                        <h3 class="modal-title" id="exampleModalLabel">Nguyen Hoang Ha</h3>

                    <h6 class="text-muted">
                        CFO - Responsible for managing financial actions. Determine the price of the product
                    </h6>

                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <h5 class="mb-4">Over three years in business had the chance to work on variety of projects, with companies</h5>

                        <div class="row mb-4">
                            <div class="col-lg-6 col-12">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>

                            <div class="col-lg-6 col-12">
                                <p>Incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse commodo viverra.</p>
                            </div>
                        </div>

                        <ul class="social-icon">
                            <li class="me-3"><strong>Where to find?</strong></li>

                            <li><a href="#" class="social-icon-link bi-facebook"></a></li>

                            <li><a href="#" class="social-icon-link bi-instagram"></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

    <!-- Nguyen MODAL -->
    <div class="modal fade" id="nguyen" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content border-0">
                <div class="modal-header flex-column">
                    <h3 class="modal-title" id="exampleModalLabel">Dang Hoang Nguyen</h3>

                    <h6 class="text-muted">
                        CMO - Responsible for overseeing the business marketing and branding initiatives.
                    </h6>

                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <h5 class="mb-4">Over three years in business had the chance to work on variety of projects, with companies</h5>

                    <div class="row mb-4">
                        <div class="col-lg-6 col-12">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>

                        <div class="col-lg-6 col-12">
                            <p>Incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse commodo viverra.</p>
                        </div>
                    </div>

                    <ul class="social-icon">
                        <li class="me-3"><strong>Where to find?</strong></li>

                        <li><a href="#" class="social-icon-link bi-twitter"></a></li>

                        <li><a href="#" class="social-icon-link bi-linkedin"></a></li>

                        <li><a href="#" class="social-icon-link bi-envelope"></a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <!-- Thanh MODAL -->
    <div class="modal fade" id="thanh" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content border-0">
                <div class="modal-header flex-column">
                    <h3 class="modal-title" id="exampleModalLabel">Phan Tien Thanh</h3>

                    <h6 class="text-muted">
                        Vice CMO - Analyse the market, find and segment potential customer.

                    </h6>

                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <h5 class="mb-4">Over three years in business had the chance to work on variety of projects, with companies</h5>

                    <div class="row mb-4">
                        <div class="col-lg-6 col-12">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>

                        <div class="col-lg-6 col-12">
                            <p>Incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse commodo viverra.</p>
                        </div>
                    </div>

                    <ul class="social-icon">
                        <li class="me-3"><strong>Where to find?</strong></li>

                        <li><a href="#" class="social-icon-link bi-twitter"></a></li>

                        <li><a href="#" class="social-icon-link bi-linkedin"></a></li>

                        <li><a href="#" class="social-icon-link bi-envelope"></a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <!-- Chi MODAL -->
    <div class="modal fade" id="chi" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content border-0">
                <div class="modal-header flex-column">
                    <h3 class="modal-title" id="exampleModalLabel">Tran Ngoc Chi</h3>

                    <h6 class="text-muted">
                        CTO - Responsible for technological aspect of company.

                    </h6>

                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <h5 class="mb-4">Over three years in business had the chance to work on variety of projects, with companies</h5>

                    <div class="row mb-4">
                        <div class="col-lg-6 col-12">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>

                        <div class="col-lg-6 col-12">
                            <p>Incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse commodo viverra.</p>
                        </div>
                    </div>

                    <ul class="social-icon">
                        <li class="me-3"><strong>Where to find?</strong></li>

                        <li><a href="#" class="social-icon-link bi-twitter"></a></li>

                        <li><a href="#" class="social-icon-link bi-linkedin"></a></li>

                        <li><a href="#" class="social-icon-link bi-envelope"></a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <!-- Tu MODAL -->
    <div class="modal fade" id="tu" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content border-0">
                <div class="modal-header flex-column">
                    <h3 class="modal-title" id="exampleModalLabel">Dang Huu Tu</h3>

                    <h6 class="text-muted">
                        Vice CTO - Sharing responsibilities with CTO using technology to enhance the selling process

                    </h6>

                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <h5 class="mb-4">Over three years in business had the chance to work on variety of projects, with companies</h5>

                    <div class="row mb-4">
                        <div class="col-lg-6 col-12">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>

                        <div class="col-lg-6 col-12">
                            <p>Incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse commodo viverra.</p>
                        </div>
                    </div>

                    <ul class="social-icon">
                        <li class="me-3"><strong>Where to find?</strong></li>

                        <li><a href="#" class="social-icon-link bi-twitter"></a></li>

                        <li><a href="#" class="social-icon-link bi-linkedin"></a></li>

                        <li><a href="#" class="social-icon-link bi-envelope"></a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
<style>
    .site-header{
        background-color: #f0f8ff63;
    }

    .team {
        background: #e7edff;
    }

    #boli {
        font-weight: bolder;
        color: #ff4400;
    }

    button.btn.custom-modal-btn {
        background-color: #e7edff;
        color: #000;
    }

    button.btn.custom-modal-btn:hover {
            background-color: #ff4400;
            color: #fff;
            font-weight:bolder;
    }
</style>
