
    <main>


        <div class="site-header section-padding-img site-header-image">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6 col-12 header-info">
                        <h1>
                        <span class="d-block"><a href="#" id="boli">Boli</a> Jewelry</span>
                    </h1>
                    <div style="text-align: justify;max-width: 600px; margin: 0 auto; padding: 0 20px;">
                        First launched in 2024, Boli hopes to bring Glass Bracelets & Necklaces products that are invested in design, transparent in product transaction information and provide customers with complete after-sales service. Along with the repositioning of the brand, Boli changes its identity and business strategy. Still maintaining the core values ​​of the product, Boli hopes that each wedding ring or piece of jewelry will help customers record moments and happy stories throughout their lives.
                        </div>
                       
                    </div>
                </div>
            </div>

            <img src="~/images/header/logo.jpg" class="header-image img-fluid" alt="">
        </div>

        <section class="team section-padding">
            <div class="container">
                <div class="row">

                    <div class="col-12">
                        <h2 class="mb-5">Meet our <span>team</span></h2>
                    </div>

                    <div class="col-lg-4 mb-4 col-12">
                        <div class="team-thumb d-flex align-items-center">
                        <img src="~/images/people/Loan.png" class="img-fluid custom-circle-image team-image me-4" alt="">

                            <div class="team-info">
                                <h5 class="mb-0">Loan</h5>
                                <strong class="text-muted">CEO</strong>

                                <!-- Button trigger modal -->
                                <button type="button" class="btn custom-modal-btn" data-bs-toggle="modal" data-bs-target="#loan">
                                    <i class="bi-plus-circle-fill"></i>
                                </button>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 mb-4 col-12">
                        <div class="team-thumb d-flex align-items-center">
                        <img src="~/images/people/ha.png" class="img-fluid custom-circle-image team-image me-4" alt="">

                            <div class="team-info">
                                <h5 class="mb-0">Ha</h5>
                                <strong class="text-muted">CFO</strong>

                                <!-- Button trigger modal -->
                                <button type="button" class="btn custom-modal-btn" data-bs-toggle="modal" data-bs-target="#ha">
                                    <i class="bi-plus-circle-fill"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 mb-lg-0 mb-4 col-12">
                        <div class="team-thumb d-flex align-items-center">
                        <img src="~/images/people/Nguyen.png" class="img-fluid custom-circle-image team-image me-4" alt="">

                            <div class="team-info">
                                <h5 class="mb-0">Nguyen</h5>
                                <strong class="text-muted">CMO</strong>

                                <!-- Button trigger modal -->
                                <button type="button" class="btn custom-modal-btn" data-bs-toggle="modal" data-bs-target="#nguyen">
                                    <i class="bi-plus-circle-fill"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            <div class="row">
                <div class="col-lg-4 mb-4 col-12">
                    <div class="team-thumb d-flex align-items-center">
                        <img src="~/images/people/Thanh.png" class="img-fluid custom-circle-image team-image me-4" alt="">

                        <div class="team-info">
                            <h5 class="mb-0">Thanh</h5>
                            <strong class="text-muted">Vice CMO</strong>

                            <!-- Button trigger modal -->
                            <button type="button" class="btn custom-modal-btn" data-bs-toggle="modal" data-bs-target="#thanh">
                                <i class="bi-plus-circle-fill"></i>
                            </button>

                        </div>
                    </div>
                </div>

                <div class="col-lg-4 mb-4 col-12">
                    <div class="team-thumb d-flex align-items-center">
                        <img src="~/images/people/Chi.png" class="img-fluid custom-circle-image team-image me-4" alt="">

                        <div class="team-info">
                            <h5 class="mb-0">Chi</h5>
                            <strong class="text-muted">CTO</strong>

                            <!-- Button trigger modal -->
                            <button type="button" class="btn custom-modal-btn" data-bs-toggle="modal" data-bs-target="#chi">
                                <i class="bi-plus-circle-fill"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 mb-lg-0 mb-4 col-12">
                    <div class="team-thumb d-flex align-items-center">
                        <img src="~/images/people/Tu.png" class="img-fluid custom-circle-image team-image me-4" alt="">

                        <div class="team-info">
                            <h5 class="mb-0">Tu</h5>
                            <strong class="text-muted">Vice CTO</strong>

                            <!-- Button trigger modal -->
                            <button type="button" class="btn custom-modal-btn" data-bs-toggle="modal" data-bs-target="#tu">
                                <i class="bi-plus-circle-fill"></i>
                            </button>
                        </div>
                    </div>
                </div>

            </div>
            </div>
        </section>

        <section class="testimonial section-padding">
            <div class="container">
                <div class="row">

                    <div class="col-lg-9 mx-auto col-11">
                        <h2 class="text-center">Customer love, <br> <span>Boli</span> Fashion</h2>

                        <div class="slick-testimonial">
                            <div class="slick-testimonial-caption">
                                <p >
                                With the mission of becoming a companion who always understands and cherishes every moment in the lives of customers, Boli Jewelry's slogan is "Tales of Happines". Happiness, love, memories, ... are transformed into gold jewelry - a precious material whose value never fades so that jewelry is not only durable and beautiful, but also always reminds each person of the memorable milestones they have experienced.
                                </p>
                            <p class="lead">
                                The bracelet the girl gave herself as a reward for her promotion after a period of hard work.
                            </p>

                            <p class="lead">
                                The necklace the boyfriend personally chose to buy for his girlfriend on their anniversary.
                            </p>
                            <p class="lead">
                                A daughter bought her mother a pair of earrings on her first paycheck. A pair of wedding rings that two lovers chose together for a new chapter of their marriage.
                            </p>
                            </div>                            
                        </div>
                    </div>

                </div>
            </div>
        </section>
    <div class="col-lg-9 mx-auto col-11">
        <h2 class="mt-5">Some frequently<span> asked</span> questions</h2>

        <div class="accordion" id="accordionProduct">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionProductOne" aria-expanded="true" aria-controls="accordionProductOne">
                            What is Fashion Design?
                        </button>
                    </h2>

                    <div id="accordionProductOne" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionProduct">

                        <div class="accordion-body">
                            <p class="large-paragraph">

                                Fashion design is the art and process of creating clothing, accessories, and footwear that are both functional and aesthetically appealing. It involves sketching designs, selecting fabrics, and overseeing the production of garments. Fashion designers often draw inspiration from cultural, social, and environmental influences to create collections that reflect current trends, personal creativity, or specific themes.
                            </p>

                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFive">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionProductTwo" aria-expanded="false" aria-controls="accordionProductTwo">
                            How do I use the product?
                        </button>
                    </h2>

                    <div id="accordionProductTwo" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionProduct">

                        <div class="accordion-body">
                            <p class="large-paragraph">To use a BOLI glass bracelet or necklace, simply fasten the clasp around your wrist or neck and adjust it for comfort. Be gentle when handling the glass to avoid any damage. It's important to store your jewelry separately to prevent scratching and tangling with other items. Clean it with a soft cloth to maintain its shine and beauty. With proper care, your BOLI glass jewelry will remain a stylish and durable accessory for everyday wear or special occasions.</p>
                        </div>
                    </div>
                </div>

             </div>
        </div>

    </main>

    <!-- Loan MODAL  -->
        <div class="modal fade" id="loan" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content border-0">
                    <div class="modal-header flex-column">
                        <h3 class="modal-title" id="exampleModalLabel">Nguyen Thi Loan</h3>

                    <h6 class="text-muted">
                        CEO - Responsible for overall activity of the business.
                    </h6>

                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <h5 class="mb-4">Over three years in business had the chance to work on variety of projects, with companies</h5>

                        <div class="row mb-4">
                            <div class="col-lg-6 col-12">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>

                            <div class="col-lg-6 col-12">
                                <p>Incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse commodo viverra.</p>
                            </div>
                        </div>

                        <ul class="social-icon">
                            <li class="me-3"><strong>Where to find?</strong></li>

                            <li><a href="#" class="social-icon-link bi-youtube"></a></li>

                            <li><a href="#" class="social-icon-link bi-whatsapp"></a></li>

                            <li><a href="#" class="social-icon-link bi-instagram"></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

    <!-- Ha MODAL -->
        <div class="modal fade" id="ha" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content border-0">
                    <div class="modal-header flex-column">
                        <h3 class="modal-title" id="exampleModalLabel">Nguyen Hoang Ha</h3>

                    <h6 class="text-muted">
                        CFO - Responsible for managing financial actions. Determine the price of the product
                    </h6>

                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <h5 class="mb-4">Over three years in business had the chance to work on variety of projects, with companies</h5>

                        <div class="row mb-4">
                            <div class="col-lg-6 col-12">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>

                            <div class="col-lg-6 col-12">
                                <p>Incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse commodo viverra.</p>
                            </div>
                        </div>

                        <ul class="social-icon">
                            <li class="me-3"><strong>Where to find?</strong></li>

                            <li><a href="#" class="social-icon-link bi-facebook"></a></li>

                            <li><a href="#" class="social-icon-link bi-instagram"></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

    <!-- Nguyen MODAL -->
    <div class="modal fade" id="nguyen" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content border-0">
                <div class="modal-header flex-column">
                    <h3 class="modal-title" id="exampleModalLabel">Dang Hoang Nguyen</h3>

                    <h6 class="text-muted">
                        CMO - Responsible for overseeing the business marketing and branding initiatives.
                    </h6>

                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <h5 class="mb-4">Over three years in business had the chance to work on variety of projects, with companies</h5>

                    <div class="row mb-4">
                        <div class="col-lg-6 col-12">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>

                        <div class="col-lg-6 col-12">
                            <p>Incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse commodo viverra.</p>
                        </div>
                    </div>

                    <ul class="social-icon">
                        <li class="me-3"><strong>Where to find?</strong></li>

                        <li><a href="#" class="social-icon-link bi-twitter"></a></li>

                        <li><a href="#" class="social-icon-link bi-linkedin"></a></li>

                        <li><a href="#" class="social-icon-link bi-envelope"></a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <!-- Thanh MODAL -->
    <div class="modal fade" id="thanh" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content border-0">
                <div class="modal-header flex-column">
                    <h3 class="modal-title" id="exampleModalLabel">Phan Tien Thanh</h3>

                    <h6 class="text-muted">
                        Vice CMO - Analyse the market, find and segment potential customer.

                    </h6>

                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <h5 class="mb-4">Over three years in business had the chance to work on variety of projects, with companies</h5>

                    <div class="row mb-4">
                        <div class="col-lg-6 col-12">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>

                        <div class="col-lg-6 col-12">
                            <p>Incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse commodo viverra.</p>
                        </div>
                    </div>

                    <ul class="social-icon">
                        <li class="me-3"><strong>Where to find?</strong></li>

                        <li><a href="#" class="social-icon-link bi-twitter"></a></li>

                        <li><a href="#" class="social-icon-link bi-linkedin"></a></li>

                        <li><a href="#" class="social-icon-link bi-envelope"></a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <!-- Chi MODAL -->
    <div class="modal fade" id="chi" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content border-0">
                <div class="modal-header flex-column">
                    <h3 class="modal-title" id="exampleModalLabel">Tran Ngoc Chi</h3>

                    <h6 class="text-muted">
                        CTO - Responsible for technological aspect of company.

                    </h6>

                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <h5 class="mb-4">Over three years in business had the chance to work on variety of projects, with companies</h5>

                    <div class="row mb-4">
                        <div class="col-lg-6 col-12">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>

                        <div class="col-lg-6 col-12">
                            <p>Incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse commodo viverra.</p>
                        </div>
                    </div>

                    <ul class="social-icon">
                        <li class="me-3"><strong>Where to find?</strong></li>

                        <li><a href="#" class="social-icon-link bi-twitter"></a></li>

                        <li><a href="#" class="social-icon-link bi-linkedin"></a></li>

                        <li><a href="#" class="social-icon-link bi-envelope"></a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <!-- Tu MODAL -->
    <div class="modal fade" id="tu" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content border-0">
                <div class="modal-header flex-column">
                    <h3 class="modal-title" id="exampleModalLabel">Dang Huu Tu</h3>

                    <h6 class="text-muted">
                        Vice CTO - Sharing responsibilities with CTO using technology to enhance the selling process

                    </h6>

                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <h5 class="mb-4">Over three years in business had the chance to work on variety of projects, with companies</h5>

                    <div class="row mb-4">
                        <div class="col-lg-6 col-12">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>

                        <div class="col-lg-6 col-12">
                            <p>Incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse commodo viverra.</p>
                        </div>
                    </div>

                    <ul class="social-icon">
                        <li class="me-3"><strong>Where to find?</strong></li>

                        <li><a href="#" class="social-icon-link bi-twitter"></a></li>

                        <li><a href="#" class="social-icon-link bi-linkedin"></a></li>

                        <li><a href="#" class="social-icon-link bi-envelope"></a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
<style>
    .site-header{
        background-color: #f0f8ff63;
    }

    .team {
        background: #e7edff;
    }

    #boli {
        font-weight: bolder;
        color: #ff4400;
    }

    button.btn.custom-modal-btn {
        background-color: #e7edff;
        color: #000;
    }

    button.btn.custom-modal-btn:hover {
            background-color: #ff4400;
            color: #fff;
            font-weight:bolder;
    }
</style>
